name: CI
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  test:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - name: Enable Corepack
        run: corepack enable

      - name: Install Dependencies
        run: |
          yarn set version stable
          yarn install --immutable

      - name: Run Tests
        run: |
          yarn test:run

      - name: Upload Coverage
        uses: actions/upload-artifact@v6
        with:
          name: coverage
          path: coverage/

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - name: Enable Corepack
        run: corepack enable

      - name: Install Dependencies
        run: |
          yarn set version stable
          yarn install --immutable

      - name: Build Icons and SSVC Data
        run: |
          yarn build:icons

      - name: Generate Types
        run: |
          npx wrangler types
          npx prisma generate

      - name: Build Project
        run: |
          yarn build

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build
          path: dist/
